/* developer Hv*/
*{
text-decoration: none !important;
outline: 0 !important;
}
.row {
  margin: 0 !important;
  padding: 0;
}
body {
	-webkit-font-smoothing: antialiased;
}
header {
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.18);
    position: relative;
    z-index: 9;
}
.tel_email{
height: 47px;
background: rgba(85,85,85,1);
background: -moz-linear-gradient(top, rgba(85,85,85,1) 0%, rgba(51,51,51,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(85,85,85,1)), color-stop(100%, rgba(51,51,51,1)));
background: -webkit-linear-gradient(top, rgba(85,85,85,1) 0%, rgba(51,51,51,1) 100%);
background: -o-linear-gradient(top, rgba(85,85,85,1) 0%, rgba(51,51,51,1) 100%);
background: -ms-linear-gradient(top, rgba(85,85,85,1) 0%, rgba(51,51,51,1) 100%);
background: linear-gradient(to bottom, rgba(85,85,85,1) 0%, rgba(51,51,51,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#333333', GradientType=0 );
}
.tel {
    background: url(../images/tel.png);
    width: 233px;
    height: 45px;
    padding: 10px;
    text-align: center;
    float: right;
    background-position-x: 21px;
    background-repeat: no-repeat;
}
.tel label {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    font-family: 'AvenirLTStdMedium';
    position: relative;
    left: 18px;
}
.email {
    background: url(../images/correo.png);
    width: 234px;
    height: 45px;
    padding: 10px;
    text-align: center;
    float: right;
    background-repeat: no-repeat;
    position: relative;
    left: 36px;
}
.email a{
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    font-family: 'AvenirLTStdMedium';
    position: relative;
    left: 10px;
}
.logo_menu{
height: 126px;
background: rgba(0,180,235,1);
background: -moz-linear-gradient(top, rgba(0,180,235,1) 0%, rgba(12,119,185,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,180,235,1)), color-stop(100%, rgba(12,119,185,1)));
background: -webkit-linear-gradient(top, rgba(0,180,235,1) 0%, rgba(12,119,185,1) 100%);
background: -o-linear-gradient(top, rgba(0,180,235,1) 0%, rgba(12,119,185,1) 100%);
background: -ms-linear-gradient(top, rgba(0,180,235,1) 0%, rgba(12,119,185,1) 100%);
background: linear-gradient(to bottom, rgba(0,180,235,1) 0%, rgba(12,119,185,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4eb', endColorstr='#0c77b9', GradientType=0 );
}
.logo {
    background: url(../images/fondologo.png);
    height: 126px;
    background-repeat: no-repeat;
    padding: 20px 5%;
    background-position-x: -70px;
}
.facebook{
height: 47px;
width: 52px;
background: url(../images/facebook_hover.png);
}
.social_link {
    text-align: right;
    padding-right: 0;
    padding-top: 1px;
}
.facebook {
    height: 47px;
    width: 52px;
    background: url(../images/facebook_hover.png);
    display: inline-block;
    background-position-x: 19px;
    background-repeat: no-repeat;
    margin-right: 2px;
    background-position-y: 4px;
    border: 1px solid #fff;
    position: relative;
    right: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
.eventos_recientes{
z-index: 9;
position: relative;
float: left;
width: 100%;
}
.title{
background: #fff;
}
.facebook:hover{
   background: url(../images/facebook.png) #fff;
    display: inline-block;
    background-position-x: 19px;
    background-repeat: no-repeat;
    background-position-y: 4px;
    transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.email_link {
    height: 47px;
    width: 52px;
    background: url(../images/email_link1.png);
    display: inline-block;
    background-position-x: 14px;
    background-repeat: no-repeat;
    background-position-y: 13px;
    border: 1px solid #fff;
    position: relative;
    right: 0;
    transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.email_link:hover{
   background: url(../images/email_link.png) #fff;
    display: inline-block;
     background-position-x: 14px;
    background-repeat: no-repeat;
    background-position-y: 13px;
    transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.logo_menu .col-md-8{
padding-right: 0;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
}
.navbar {
    border-radius: 0;
    margin-top: 20px;
    float: right;
    width: 100%;
}
.navbar-nav {
    width: 100%;
}
.navbar-nav > li {
    float: left;
    width: 20%;
    text-align: center;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    border: 1px solid #fff;
    font-family: 'AvenirLTStdMedium';
    transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.navbar-default .navbar-nav > li > a:hover{
background: #fff;
color: #0C79BA;
transform: translateY(-7%);
transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #0C79BA;
    background-color: #fff;
}
.menu_head{
	padding-right: 0;
}
.menu_head .container-fluid {
    padding-right: 0;
    padding-left: 0;
    }
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.adaptar{
	width: 100%;
}
.overlay_slide {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.6);
    z-index: 9;
    padding-top: 21%;
    text-align: center;
}
.overlay_slide h1{
color: #fff;
 font-family: 'AvenirLTStdBlack';
 font-size: 50px;
}
.slider-home{
position: relative;
display: none;
}
.eventos_recientes .title{
padding: 35px;
text-align: center;
}
.eventos_recientes .title h1{
margin: 0;
color:  #0C79BA;
font-family: 'AvenirLTStdBlack';
font-size: 24px;
}
.slide_eventos {
    background: #02ADE4;
    padding: 45px 0;
    text-align: center;
}
.link{
    padding: 13px 41px;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'AvenirLTStdBlack';
    border-radius:30px;
    display: inline-block;
    margin-top: 30px;
    transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.link:hover{
background: #fff;
color: #02ADE4;
transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.carousel-indicators {
    position: absolute;
    bottom: 40px;
    left: 48%;
    z-index: 15;
    background: rgba(255,255,255,0.6);
    width: auto;
    padding-left: 0;
    margin-left: -1%;
    text-align: center;
    list-style: none;
    padding: 3px 13px;
    border-radius: 5px;
}
.carousel-indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0px;
    border: 1px solid #0A7FC0;
    background-color: #0A80C0;
}
.carousel-indicators .active{
    background-color: #00B2E9;
     border: 1px solid #00B2E9;
}
.slide_eventos .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .flecha-left, .carousel-control .flecha-left {
    top: 50%;
}
.slide_eventos .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .flecha-left, .carousel-control .flecha-left {
    position: absolute;
    top: 35%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
.slide_eventos .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .flecha-right, .carousel-control .flecha-right {
    top: 50%;
}
.slide_eventos .body_camp .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .flecha-right, .carousel-control .flecha-right {
    position: absolute;
    top: 35%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    left: 0;
}
.slide_eventos .carousel-control.right{
	background: transparent;
}
.slide_eventos .carousel-control.left{
	background: transparent;
}
.slide_eventos .carousel-control{
	width: 5%;
}

.title_evento{
	text-align: center;
	padding: 20px;
      float: left;
    width: 100%;
	background: rgba(170,170,170,1);
background: -moz-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(221,221,221,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(170,170,170,1)), color-stop(100%, rgba(221,221,221,1)));
background: -webkit-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(221,221,221,1) 100%);
background: -o-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(221,221,221,1) 100%);
background: -ms-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(221,221,221,1) 100%);
background: linear-gradient(to bottom, rgba(170,170,170,1) 0%, rgba(221,221,221,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#dddddd', GradientType=0 );
}
.title_evento h2 {
    margin: 0;
    font-size: 14px;
    font-family: 'AvenirLTStdBlack';
    color: #444;
}
.slide_eventos .carousel-inner > .item{
	padding: 0 65px;
}
.testimoniales {
    padding: 0px;
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 9;
    float: left;
    width: 100%;
}
.slide_test{
background: rgba(240,240,240,1);
background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=0 );
padding: 40px;
}
.overlay_evento{
	position: absolute;
	background: rgba(0,0,0,0.7);
	height: 100%;
}
.evento {
    position: relative;
    float: left;
    width: 100%;
}
.evento iframe{
float: left;
}
.evento p{
	color: #fff;
	padding: 60px 12%;
	text-align: center;
	font-family: 'AvenirLTStdMedium';
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 28px;
}
.evento a .overlay_evento{
	opacity: 0;
	transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.evento a:hover .overlay_evento{
	opacity: 1;
	transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.testimoniales h1 {
    margin: 0;
    color: #02ADE4;
    font-family: 'AvenirLTStdBlack';
    font-size: 24px;
    text-align: center;
    margin: 0;
}
.testimonio1 {
    padding: 40px 60px;
    text-align: center;
    background-color: transparent;
    transition: all 0.3s ease;
    border: 1px solid #eee;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
.slide_testimonios .col-md-6{
margin-top: 50px;
margin-bottom: 10px;
padding: 0 20px;

}
.testimonio1 p {
    font-family: 'AvenirLTStdMedium';
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #444;
    margin-bottom: 0;
}
.testimonio1 img{
  margin-bottom: 20px;
}
.testimonio1 span{
  color: #0C79BA;
  font-size: 12px;
  margin-bottom: 20px;
  display: inline-block;
  font-family: 'AvenirLTStdMedium';
}
footer {
    padding: 50px 30px;
    background: #393939;
    position: relative;
    z-index: 9;
    float: left;
    width: 100%;
}
.logo_foot{
	text-align: center;
}
footer .col-md-4 p{
color: #ccc;
  font-family: 'AvenirLTStdMedium';
  margin-bottom: 30px;
  font-size: 12px;
}
footer .col-md-4 p span{
	position: relative;
	left: -13px;
}
footer .col-md-4 a{
color: #ccc;
  font-family: 'AvenirLTStdMedium';
  margin-bottom: 30px;
  font-size: 12px;
  display: block;
}
footer .col-md-4 a span{
	position: relative;
	left: -13px;
}
.reservados{
	text-align: right;
}
footer .col-md-4 small{
color: #ccc;
  font-family: 'AvenirLTStdMedium';
  margin-bottom: 30px;
  font-size: 10px;
}
footer .col-md-4 small a{
	display: inline-block;
	font-size: 10px;
}
.cover_nosotros{
	background: url(../images/cover_somos.jpg);
	background-size: cover;
	height: 489px;
}
.overlay_nosotros{
	background: rgba(0,0,0,0.6);
	height: 100%;
	padding: 80px 25%;
	text-align: center;
}
.overlay_nosotros h1{
	color: #fff;
	margin-top: 0;
	font-family: 'AvenirLTStdBlack';
}
.overlay_nosotros p{
	color: #ccc;
	font-size: 16px;
	 font-family: 'AvenirLTStdMedium';
	 line-height: 25px;
	 margin-top: 75px;
}
.content_about .nav-tabs > li {
    float: left;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #2FA1D2;
    cursor: default;
 background: rgba(231,233,245,1);
background: -moz-linear-gradient(top, rgba(231,233,245,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,233,245,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(231,233,245,1) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(231,233,245,1) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(231,233,245,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(231,233,245,1) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e9f5', endColorstr='#ffffff', GradientType=0 );
    border: transparent;
    border-bottom-color: transparent;
}
.nav-tabs > li > a:hover {
    border-color: transparent;
    background-color: #346792;
    transition: all 0.3s ease;
    color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.nav-tabs > li > a {
    margin-right: 0;
    line-height: 1.42857143;
    border: transparent;
    border-radius: 0;
    background: rgba(13,100,166,1);
    background: -moz-linear-gradient(top, rgba(13,100,166,1) 0%, rgba(47,161,210,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(13,100,166,1)), color-stop(100%, rgba(47,161,210,1)));
    background: -webkit-linear-gradient(top, rgba(13,100,166,1) 0%, rgba(47,161,210,1) 100%);
    background: -o-linear-gradient(top, rgba(13,100,166,1) 0%, rgba(47,161,210,1) 100%);
    background: -ms-linear-gradient(top, rgba(13,100,166,1) 0%, rgba(47,161,210,1) 100%);
    background: linear-gradient(to bottom, rgba(13,100,166,1) 0%, rgba(47,161,210,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d64a6', endColorstr='#2fa1d2', GradientType=0 );
    color: #ccc;
    font-size: 18px;
    font-family: 'AvenirLTStdMedium';
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    height: 60px;
    padding: 20px;
}
.content_about .col-md-3{
	height: 400px;
	padding: 50px 20px;
	text-align: center;
}
.content_about .col-md-3:nth-child(2){
background: #f2f2f2;
}
.content_about .col-md-3:nth-child(4){
 background: #f2f2f2;
}
.content_about .col-md-3 h2{
color: #2EA0D2;
font-size: 16px;
 font-family: 'AvenirLTStdMedium';
}
.content_about .col-md-3 p{
 font-family: 'AvenirLTStdMedium';
 font-size: 14px;
 color: #444;
 line-height: 26px;
 margin-top: 40px;
}
.cover_foot {
    background: url(../images/foot_somos.jpg);
    height: 393px;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
}
.overlay_sound {
    background: rgba(0,0,0,0.7);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.62) 42%, rgba(2,171,228,0.5) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.7)), color-stop(42%, rgba(0,0,0,0.62)), color-stop(100%, rgba(2,171,228,0.5)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.62) 42%, rgba(2,171,228,0.5) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.62) 42%, rgba(2,171,228,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.62) 42%, rgba(2,171,228,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.8) 42%, rgba(2,171,228,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#02abe4', GradientType=0 );
    text-align: center;
    padding: 160px;
    height: 100%;
}
.overlay_sound h1{
	color: #fff;
	margin-top: 0;
	font-family: 'AvenirLTStdBlack';
}
.nav-tabs > li.active > a:after {
    position: absolute;
    left: 98.5%;
    content: "\00a0";
    display: block;
    width: 0px;
    height: 0px;
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #F2F2F2 transparent;
    transform: rotate(89deg);
    top: 19px;
    z-index: 10;
}
.nav-tabs {
    border-bottom:transparent;
}
.content_about{
  position: relative;
}
.modal-title{
  text-align: center;
    margin: 0;
    color: #0C79BA;
    font-family: 'AvenirLTStdBlack';
    font-size: 24px;
}
.modal-dialog {
    width: 850px;
  }
.modal-content .col-md-12{
  margin-bottom: 30px;
}
.form_body{
  background: #F5F5F5;
  border-radius: 5px;
  border: 2px solid #ddd;
  padding: 25px;
}
 .social-contact{
  padding: 25% 30px;
  text-align: center;
 }
 .social-contact label{
  font-family: 'AvenirLTStdMedium';
  color: #0C79BA;
  font-size: 16px;
  margin-left: 5px;
 }
 .social-contact a{
  font-family: 'AvenirLTStdMedium';
  color: #0C79BA;
  font-size: 16px;
  margin-left: 5px;
 }
 .social-contact .facebook{
    background: url(../images/facebook_hover.png) #0C79BA;
        background-position-x: 19px;
    background-repeat: no-repeat;

}
 .social-contact  .social_link{
text-align: center;
}
.form-control{
font-family: 'AvenirLTStdMedium';
}
.send-btn{
  text-align: center;
}
.send{
  background: rgba(1,131,178,1);
background: -moz-linear-gradient(top, rgba(1,131,178,1) 0%, rgba(0,107,143,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1,131,178,1)), color-stop(100%, rgba(0,107,143,1)));
background: -webkit-linear-gradient(top, rgba(1,131,178,1) 0%, rgba(0,107,143,1) 100%);
background: -o-linear-gradient(top, rgba(1,131,178,1) 0%, rgba(0,107,143,1) 100%);
background: -ms-linear-gradient(top, rgba(1,131,178,1) 0%, rgba(0,107,143,1) 100%);
background: linear-gradient(to bottom, rgba(1,131,178,1) 0%, rgba(0,107,143,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0183b2', endColorstr='#006b8f', GradientType=0 );
border:transparent;
padding: 10px 28px;
color: #fff;
font-size: 14px;
 border:1px solid #0C79BA;
font-family: 'AvenirLTStdMedium';
 transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
 .send:hover{
  background: transparent;
  border:1px solid #0C79BA;
  color: #0C79BA;
 transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.form_body p{
  text-align: center;
  font-size: 12px;
 font-family: 'AvenirLTStdMedium';
 color: #aaa;
 padding: 20px 30px;
}
.recaptcha{
text-align: center;
padding: 20px 0;
}
.recaptcha img{
  width: 90%;
}
.video-container{
  text-align: center;
}
.video-container video{
  width: 100%;
}
.cover_galery{
  background: url(../images/slide2.jpg);
  height: 489px;
  background-size: 100%;
}
.cover_galery .overlay_nosotros{
padding-top: 200px;
}
.img-galery{
  padding: 0;
    height: 280px;
    margin: 0 0px 0 0;
    overflow: hidden;
    position: relative;
}
.img-galery img {
    width: 200%;
    height: auto;
    position: absolute;
    top: 0;
    left: -45%;
}
.overlay_galery {
    background: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    border: 2px solid #ccc;
    padding-top: 35%;
    height: 280px;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    z-index: 1;
}
.overlay_galery:hover{
background: rgba(0,0,0,0.8);
position: absolute;
width: 100%;
height: 100%;
transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
z-index: 1;
}
.img-galery  > a >.overlay_galery:hover img {
    opacity: 1;
    width: auto;
    transition: all 0.3s ease;
}
.img-galery > a > .overlay_galery img {
  transition: all 0.3s ease;
  opacity: 0;
  width: 46px;
  height: 46px;
  position: relative;
  top: 0;
  left: 0;
}
.body_galery .col-md-12{
padding: 40px 0;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(7,148,208,1) 50%, rgba(7,148,208,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(50%, rgba(7,148,208,1)), color-stop(100%, rgba(7,148,208,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(7,148,208,1) 50%, rgba(7,148,208,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(7,148,208,1) 50%, rgba(7,148,208,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(7,148,208,1) 50%, rgba(7,148,208,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(7,148,208,1) 50%, rgba(7,148,208,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0794d0', GradientType=0 );
}
.services h1{
    margin: 0;
    color: #0C79BA;
    font-family: 'AvenirLTStdBlack';
    font-size: 24px;
    text-align: center;
    padding: 30px;
   background: rgba(204,204,204,1);
background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,204,204,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0 );
}
.services .col-md-3 {
    padding: 30px 15px;
    text-align: center;
    border: 1px dashed #eee;
    height: 575px;
    background: rgba(240,240,240,1);
    background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=0 );
}
.services .col-md-3 img{
border: 3px solid #ccc;
}
.services .col-md-3 h2 {
    font-size: 15px;
    font-family: 'AvenirLTStdBlack';
    color: #0C79BA;
}
.services .col-md-3 p {
    font-family: 'AvenirLTStdMedium';
    color: #888;
    line-height: 28px;
    font-size: 13px;
}
.services .col-md-3 p span{
color: #0C79BA;
}
.responsive{
  display: none;
}
.form_body label{
    font-family: 'AvenirLTStdMedium';
    color: #0C79BA;
    font-size: 16px;
    margin-left: 5px;
}
.social-contact .contact_img{
width: 100%;
}
.cover_servicios{
background: url(../images/bg_testimonios.jpg);
height: 489px;
background-size: cover;
}
.cover_servicios .overlay_nosotros{
  padding-top: 200px;
}
.ytp-watermark .yt-uix-sessionlink{
  display: none;
}

#video-background {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
.video_yt{
    height: 802px;
    width: 100%;
    float: left;
}
.nav-tabs {
    width: 25%;
    float: left;
}
.tab-content{
width: 75%;
float: right;
-webkit-box-shadow: -9px 0px 1px -5px rgba(204,204,204,1);
    -moz-box-shadow: -9px 0px 1px -5px rgba(204,204,204,1);
    box-shadow: -9px 0px 1px -5px rgba(204,204,204,1);
}
.title_one {
    color: #2FA1D2;

    text-align: center;
    background: rgba(231,233,245,1);
    background: -moz-linear-gradient(top, rgba(231,233,245,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,233,245,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(231,233,245,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(231,233,245,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(231,233,245,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(231,233,245,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e9f5', endColorstr='#ffffff', GradientType=0 );
}
.title_one h1 {
    font-size: 18px;
    font-family: 'AvenirLTStdMedium';
    padding: 20px;
    margin: 0;
}
.content_about .col-md-6{
  padding: 0;
  border-right: 1px solid #ddd;
}
.text_about{
  padding: 40px 190px;
  text-align: center;
}
.text_about p{
   font-family: 'AvenirLTStdMedium';
   font-size: 14px;
   color: #444;
   line-height: 26px;
   margin-top: 40px;
}
.welcome {
    float: left;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 50px 25%;
    background: #0C79BA;
    text-align: center;
    border-top: 5px solid #fff;
}
.welcome p{
  font-family: 'AvenirLTStdMedium';
    font-size: 16px;
    color: #fff;
    line-height: 26px;
}
.mejor_audio {
    background: url(../images/db.jpg) #000;
    background-repeat: no-repeat;
    padding: 65px 60px;
    background-size: 30%;
    float: left;
    width: 100%;
    background-position-x: 90%;
    background-position-y: 1%;
    position: relative;
    z-index: 2;
    height: 500px;
}
.mejor_audio h1 {
    color: #FFFFFF;
    font-family: 'AvenirLTStdBlack';
    font-size: 47px;
    width: auto;
    background: transparent;
    display: inline-block;
    padding: 80px 40px;
    margin: 0;
}
@media(min-width: 320px) and (max-width: 484px){
.video-container{
  display: none;
}
.mejor_audio {
    background: url(../images/db.jpg) 72%;
    background-repeat: no-repeat;
    padding: 0;
    float: left;
    width: 100%;
    position: relative;
    background-size: cover;
    z-index: 2;
    height: auto;
}
.mejor_audio h1 {
    color: #FFFFFF;
    font-family: 'AvenirLTStdBlack';
    font-size: 30px;
    width: auto;
    background: rgba(0,0,0,0.4);
    display: inline-block;
    padding: 80px 40px;
    margin: 0;
    text-align: center;
    line-height: 37px;
}
.overlay_slide h1{
color: #fff;
 font-family: 'AvenirLTStdBlack';
 font-size: 25px;
}
.desktop{
  display: none;
}
.slider-home{
  display: block;
}
.tel_email {
    height: 90px;
    display: none;
}
.tel {
    background: #333;
    width: 100%;
}
.email {
    background: #333;
    width: 100%;
    left: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
    background-color: #fff;
}
.nav-tabs {
    width: 100% !important;
    float: left;
}
.content_about .nav-tabs > li {
    float: left;
    margin-bottom: 0px;
    width: 50% !important;
    text-align: center;
}
.nav-tabs > li.active > a:after {
    position: absolute;
    left: 48.5%;
    content: "\00a0";
    display: block;
    width: 0px;
    height: 0px;
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #F2F2F2 transparent;
    transform: rotate(180deg);
    top: 42px;
    z-index: 10;
}
.tab-content {
    width: 100% !important;
  }
.navbar-default .navbar-toggle .icon-bar {
    background-color: #088BC9;
}
.navbar-default .navbar-nav > li > a{
  border: none;
  border-bottom: 1px solid #fff;
}
.logo {
    background: #fff;
    height: auto;
    text-align: center;
    padding: 20px 5%;
    background-position-x: 0;
}
.slider-home {
    position: relative;
}
.logo_menu {
    height: auto;
  }
  .navbar-toggle{
  margin-right: 45%;
  }
  .logo_menu .col-md-8 {
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav > li {
    float: left;
    width: 100%;
    text-align: center;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid #ccc;
  }
.social_link {
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
}
.menu_head {
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav {
    margin: 0;
}
.carousel-indicators {
    position: absolute;
    bottom: 8px;
    left: 40%;
    z-index: 15;
    background: rgba(255,255,255,0.6);
    width: auto;
    padding-left: 0;
    margin-left: -1%;
    text-align: center;
    list-style: none;
    padding: 3px 13px;
    border-radius: 5px;
}
.slide_eventos .carousel-inner > .item {
    padding: 0 5px;
}
.title_evento h2{
  font-size: 14px;
}
.slide_eventos .col-md-4{
  margin-bottom: 20px;
}
.slide_eventos .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .flecha-left, .carousel-control .flecha-left {
    left: 0px;
}
.slide_eventos .carousel-control {
    width: 12%;
}
.eventos_recientes .title {
    padding: 35px;
    text-align: center;
    float: left;
    width: 100%;
    background-color: #fff;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
.slide_eventos{
  float: left;
}
.testimoniales {
    float: left;
    width: 100%;
}
.slide_test{
  padding: 0;
}
.slide_test {
    padding: 30px 0;
}
.testimonio1 {
    padding: 20px;
  }
footer {
    padding: 25px;
    background: #393939;
    float: left;
    text-align: center;
    width: 100%;
}
.reservados {
    text-align: center;
    margin-top: 35px;
}
.modal-dialog {
    width: 100%;
    margin: 0;
}
.modal-body {
    position: relative;
    padding: 15px 0;
}
.form_body{
  padding: 20px 0;
}
.responsive{
  display: block;
}
.slide_eventos .carousel-control img{
width: 70%;
}
.overlay_nosotros{
    padding: 30px 8%;
}
.overlay_nosotros p{
    margin-top: 30px;
}
.content_about .col-md-3 {
    padding: 50px 15px;
    text-align: center;
    width: 100%;
    float: left;
    height: 335px;
}
.overlay_sound{
      padding: 45px 20px;
}
.cover_foot{
height: auto;
}
.overlay_sound h1{
  font-size: 20px;
}
.cover_galery .overlay_nosotros {
    padding-top: 40px;
}
.cover_galery{
  height: auto;
}
.img-galery{
height: 150px;
}
.overlay_galery {
    height: 150px;
    padding-top: 32%;
}
.body_galery .col-md-3 {
    width: 50%;
    float: left;
    padding: 0;
}
.body_galery .col-md-12 {
    padding: 0;
  }
.body_galery{
padding: 20px 0;
}
.video_yt{
display: none;
}
.cover_servicios{
      height: auto;
}
.cover_servicios .overlay_nosotros {
    padding-top: 30px;
}
.text_about {
    padding: 40px 15px !important;
    text-align: center;
}
.welcome{
      padding: 50px 15% !important;
}
}
@media (min-width: 568px) and (max-width: 736px){
  .video-container{
  display: none;
}
.overlay_slide h1{
color: #fff;
 font-family: 'AvenirLTStdBlack';
 font-size: 25px;
}
.desktop{
  display: none;
}
.slider-home{
  display: block;
}
.tel_email {
    height: 90px;
    display: none;
}
.tel {
    background: #333;
    width: 100%;
}
.email {
    background: #333;
    width: 100%;
    left: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
    background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #088BC9;
}
.navbar-default .navbar-nav > li > a{
  border: none;
  border-bottom: 1px solid #fff;
}
.logo {
    background: #fff;
    height: auto;
    text-align: center;
    padding: 20px 5%;
    background-position-x: 0;
}
.slider-home {
    position: relative;
}
.logo_menu {
    height: auto;
  }
  .navbar-toggle{
  margin-right: 45%;
  }
  .logo_menu .col-md-8 {
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav > li {
    float: left;
    width: 100%;
    text-align: center;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid #ccc;
  }
.social_link {
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
}
.menu_head {
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav {
    margin: 0;
}
.carousel-indicators {
    position: absolute;
    bottom: 8px;
    left: 40%;
    z-index: 15;
    background: rgba(255,255,255,0.6);
    width: auto;
    padding-left: 0;
    margin-left: -1%;
    text-align: center;
    list-style: none;
    padding: 3px 13px;
    border-radius: 5px;
}
.slide_eventos .carousel-inner > .item {
    padding: 0 5px;
}
.title_evento h2{
  font-size: 14px;
}
.slide_eventos .col-md-4{
  margin-bottom: 20px;
}
.slide_eventos .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .flecha-left, .carousel-control .flecha-left {
    left: 0px;
}
.slide_eventos .carousel-control {
    width: 12%;
}
.eventos_recientes .title {
    padding: 35px;
    text-align: center;
    float: left;
    width: 100%;
    background-color: #fff;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
.slide_eventos{
  float: left;
}
.testimoniales {
    float: left;
    width: 100%;
}
.slide_test{
  padding: 0;
}
.slide_test {
    padding: 30px 0;
}
.testimonio1 {
    padding: 20px;
  }
footer {
    padding: 25px;
    background: #393939;
    float: left;
    text-align: center;
    width: 100%;
}
.reservados {
    text-align: center;
    margin-top: 35px;
}
.modal-dialog {
    width: 100%;
    margin: 0;
}
.modal-body {
    position: relative;
    padding: 15px 0;
}
.form_body{
  padding: 20px 0;
}
.responsive {
    display: block;
    width: 100%;
}
.slide_eventos .carousel-control img{
width: 70%;
}
.overlay_nosotros{
    padding: 30px 8%;
}
.overlay_nosotros p{
    margin-top: 30px;
}
.content_about .col-md-3{
      padding: 50px 15px;
    text-align: center;
    width: 50%;
    float: left;
    height: 293px;
}
.overlay_sound{
      padding: 45px 20px;
}
.cover_foot{
height: auto;
}
.overlay_sound h1{
  font-size: 20px;
}
.cover_galery .overlay_nosotros {
    padding-top: 40px;
}
.cover_galery{
  height: auto;
}
.img-galery{
height: 150px;
}
.overlay_galery {
    height: 150px;
    padding-top: 32%;
}
.body_galery .col-md-3 {
    width: 50%;
    float: left;
    padding: 0;
}
.body_galery .col-md-12 {
    padding: 0;
  }
.body_galery{
padding: 20px 0;
}
.video_yt{
  display: none;
}
}
