@font-face {
    font-family: 'AvenirLTStdBlack';
    src: url('../fonts/AvenirLTStdBlack.eot');
    src: url('../fonts/AvenirLTStdBlack.eot') format('embedded-opentype'),
         url('../fonts/AvenirLTStdBlack.woff2') format('woff2'),
         url('../fonts/AvenirLTStdBlack.woff') format('woff'),
         url('../fonts/AvenirLTStdBlack.ttf') format('truetype'),
         url('../fonts/AvenirLTStdBlack.svg#AvenirLTStdBlack') format('svg');
}
@font-face {
    font-family: 'AvenirLTStdMedium';
    src: url('../fonts/AvenirLTStdMedium.eot');
    src: url('../fonts/AvenirLTStdMedium.eot') format('embedded-opentype'),
         url('../fonts/AvenirLTStdMedium.woff2') format('woff2'),
         url('../fonts/AvenirLTStdMedium.woff') format('woff'),
         url('../fonts/AvenirLTStdMedium.ttf') format('truetype'),
         url('../fonts/AvenirLTStdMedium.svg#AvenirLTStdMedium') format('svg');
}